<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%5level) %logger - %yellow(%msg%n)
            </pattern>
        </encoder>
    </appender>
    <logger name="com.coffee.backend" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
        <!--로그 콘솔에 출력 / 다른 라이브러리는 INFO 레벨 / 내 프로젝트 로그는 DEBUG 레벨-->
